// Place all the styles related to the Folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.folder-table {
  margin:200px 0 0px 15px;
}

.folder {
  position: fixed;
  margin:0px 0 0px 15px;
  background-color: #5CADFF;
}

